#launcher-container {
  margin: 0;
  padding: 0;
  @include size(100%);
  display: flex;
  justify-content: center;
  align-items: center;

  .start,
  .stop {
    @include size(40px);
    @include button-variant(#222, #BBB, #000);
    margin: 10px;
  }

  .start {
    clip-path: polygon(100% 50%, 0 0, 0 100%);
  }

  .stop {
    clip-path: inset(5% 20% 15% 10%);
  }

  .game-titile {
    color: #BBB;
    margin-left: 100px;
  }
}
