#monitor-container {
  @include size(100%);

  .helper_cutin_effector {
    @include size(100vw, 100vh);
    position: absolute;
    top: 0;
    clip-path: polygon(66% 0, 97% 0, 73% 100%, 43% 100%);
    background: url("/assets/shige_san.jpg") round;
    background-size: 100vw 100vh;
    z-index: 100;
  }

  .helper_caption_effector {
    @include size(100vw, auto);
    display: inline-block;
    position: absolute;
    padding: 0 20px;
    border-top: 2px solid darkviolet;
    border-buttom: 2px solid darkviolet;
    font-size: calc(100vw / 15);
    top: 65vh;
    background-color: #FFF;
    transform: scale(0);
    color: #000;
    z-index: 101;
  }
}

