#live-targets-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 20px;
  @include size(100%);

  .target {
    border: 1px solid #FFF;
    padding: 7px;
    margin: 10px;
    width: 200px;
    @include border-radius;
  }

  .target-rating {
    @include size(1rem);
    color: #666;
  }

  .target-rating.primary {
    color: #222;
  }

  .target-portrait {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
  }

  .target-pic {
    margin: 5px;
    @include size(80px);
    @include border-radius(50%);
  }

  .target-name,
  .gauge {
    display: block;
  }

  .progress-bar {
    background-color: #FFF;
    color: #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    @include text-truncate;
  }

}
