<div id="live-targets-wrapper">
  <div *ngFor="let target of targets | async;" class="target" [style.order]="(target|score) * -1">
    <div class="target-portrait">
      <img src="{{target.picUrl}}" alt="{{target.name}}" class="target-pic">
    </div>
    <div class="target-summary-info">
      <h5 class="target-name">{{target.name}}</h5>
      <progressbar class="gauge" [value]="target | gauge" [max]="100"></progressbar>
      <h6 class="target-socre">score: {{target | score}}</h6>
    </div>
  </div>
</div>

