#live-targets-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  padding: 5px 20px;
  @include size(100%);

  .target {
    border: 1px solid #FFF;
    padding: 7px;
    margin: 10px;
    box-sizing: border-box;
    width: calc((100% / 4) - 20px);
    position: relative;
    @include border-radius;
    &::before {
      position: absolute;
      top: -0.5em;
      left: calc(100% - 0.5em);
      background-color: white;
      @include border-radius(50%);
      color: darkviolet;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &[data-order="1"] {
      &::before {
        content: '1';
        font-size: 3rem;
        @include size(3rem);
      }
    }
    &[data-order="2"] {
      &::before {
        content: '2';
        font-size: 2rem;
        @include size(2rem);
      }
    }
    &[data-order="3"] {
      &::before {
        content: '3';
        font-size: 2rem;
        @include size(2rem);
      }
    }
  }

  .target-rating {
    @include size(1rem);
    color: #666;
  }

  .target-rating.primary {
    color: #222;
  }

  .target-portrait {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
  }

  .target-pic {
    margin: 5px;
    @include size(80px);
    @include border-radius(50%);
  }

  .target-name {
    display: block;
    @include text-truncate;
  }

  .gauge {
    display: flex;
    position: relative;
    @include text-truncate;
    &::before {
      position: absolute;
      top: 0.25rem;
      display: inline-block;
      @include text-truncate;
      content: '\200f';
      margin: auto 3px;
      @include size(1.5rem);
      background-image: url("/assets/bugfix.svg");
      background-size: cover;
    }
    &::after {
      position: absolute;
      top: 0.25rem;
      left: calc(100% - 1.5rem - 10px);
      display: inline-block;
      @include text-truncate;
      content: '\200f';
      margin: auto 3px;
      @include size(1.5rem);
      background-image: url("/assets/faster.svg");
      background-size: cover;
    }
  }

  .gauge bar:nth-child(1){
    border-right: 3px solid darkviolet;
    @include text-truncate;
  }

  .progress-bar {
    height: 2rem;
    line-height:2rem;
    background-color: #9FA;
    color: rgba(0,0,0,0);
  }

  bar:nth-child(1) .progress-bar{
    background-color: lighten(#66F, 5%);
  }


}
