#live-targets-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 20px;
  @include size(100%);
  @include card-variant(#BBB, #777);

  .target {
    padding: 5px;
    margin: 10px;
    width: 200px;
    @include card-variant(lighten(#BBB, 20%), #777);
    @include border-radius;
  }

  .target-rating {
    @include size(1rem);
    color: #666;
  }

  .target-rating.primary {
    color: #222;
  }

  .target-portrait {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
  }

  .target-pic {
    margin: 5px;
    @include size(80px);
    @include border-radius(50%);
  }

  .target-name,
  .target-hp {
    display: block;
  }

}
