.gird-container {
  display: grid;
  grid-template-columns: 1fr 180px;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    ".... launcher"
    "main main    ";
  height: 100%
}

.launcher-container {
  grid-area: launcher;
}

.main-container {
  grid-area: main;
}
