.gird-container {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "launcher  launcher"
    "selector  main    ";
  height: 100%
}

.selector-container {
  grid-area: selector;
}

.launcher-container {
  grid-area: launcher;
}

.main-container {
  grid-area: main;
}
